.items {
  width: 250px;
  height: 100%;
}

.items img {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.dropdown {
  margin-right: 1rem;
  border: 2px solid #eee;
  padding: 0.3rem 0.8rem;
}
